bazel-bin
bazel-jaxite
bazel-out
bazel-testlogs

# Compiled python modules.
*.pyc

# Byte-compiled
_pycache__/
.cache/

# Poetry, setuptools, PyPI distribution artifacts.
/*.egg-info
.eggs/
build/
dist/

# Type checking
.pytype/

# Other
*.DS_Store

# PyCharm
.idea
